@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sd {
  $size: 500px;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;

  width: $size;
  height: $size;

  li {
    width: 100%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div {
      border: .5px dashed white;
    }
    input {
      color: white;
      text-align: center;
    }
  }

}